.island {
    position: absolute;
    top: 0;
   /* left: calc(50% - 200px);*/
    display: flex;
    align-items: center;
    width: 400px;
    max-width: 60%;
    height: calc(var(--header) - 2px);
    padding: 0 1rem;
    background-color: var(--dark-sweet-alt);
    transition: .5s;
    z-index: 1; 
}

.island-open {
    position: fixed;
    top: 10%;
    left: inherit;
    height: inherit;
    width:600px;
    max-width: 90%;
    height: 300px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    overflow: auto;
    transition: .5s;
    z-index: 102;
}

.island__setting {  
    font-size: 1rem;
}

.island__setting:hover {
    /*animation: rotate 1s linear infinite;*/
    cursor: pointer;
}

.island__setting-open {
    position: absolute;
    top: 1rem;
}

.island__themes {
    padding: 1.5rem;
    width: 100%;
    height: 80%;
}

.rotate__setting {
    animation: rotate 1s linear .5;
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.rotate__setting-alt {
    animation: rotate-alt 1s linear .5;
}

@keyframes rotate-alt {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}